.u-section-1 .u-sheet-1 {
  min-height: 360px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 20px;
}

.u-section-1 .u-image-1 {
  min-height: 280px;
  background-image: url("images/co2himmel.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 280px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-image-1 {
    min-height: 231px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 231px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 213px;
  }

  .u-section-1 .u-image-1 {
    min-height: 177px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-1 .u-image-1 {
    min-height: 266px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-1 .u-image-1 {
    min-height: 167px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 158px;
}

.u-section-2 .u-text-1 {
  margin: 6px auto 0 0;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 6px;
  margin-top: 0;
  min-height: 111px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    height: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 815px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-3 .u-custom-html-1 {
  margin: 30px auto 0 0;
}

.u-section-3 .u-custom-html-2 {
  margin-top: 0;
  margin-bottom: 60px;
  min-height: 625px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-custom-html-2 {
    height: auto;
  }
}